    .logo {

    }

    .cover {
        width: 50%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .light-text {
        color: bisque;
    }

    section, footer {
        padding-left: 200px;
    }

