<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
  <nav>
    <div class="topnav" id="myTopnav">
      <ul>
        <li><a href="/static" th:href="@{/index}">Home</a></li>
        <li><a href="/static" th:href="@{/login}">Login</a></li>
        <li><a href="/static" th:href="@{/registration}">Registration</a></li>
        <li><a href="/static" th:href="@{/booking}">Bookings</a></li>
        <li><a href="/static" th:href="@{/destinations}">Destinations</a></li>
        <li><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        <i class="fa fa-bars"></i>
        </a>
      </ul>

    </div>
  </nav>

</head>
<body>
<img src="/img/brazil.jpg" height="400" width="1750"/>

<h1> Oh the Places You'll Go:</h1>

<ul>
  <li>Australia</li>
  <li>Belize</li>
  <li>Bosnia and Herzegovina</li>
  <li>Brazil</li>
  <li>Cambodia</li>
  <li>Canada</li>
  <li>Colombia</li>
  <li>Costa Rica</li>
  <li>Croatia</li>
  <li>Cuba</li>
  <li>Denmark</li>
  <li>France</li>
  <li>Greece</li>
  <li>Indonesia</li>
  <li>Ireland</li>
  <li>Jordan</li>
  <li>Kenya</li>
  <li>Mexico</li>
  <li>Nepal</li>
  <li>Netherlands</li>
  <li>Norway</li>
  <li>Panama</li>
  <li>Sweden</li>
  <li>Syria</li>
  <li>Thailand</li>
  <li>Turkey</li>
  <li>United Arab Emirates</li>
  <li>United Kingdom</li>
  <li>United States</li>
</ul>

</body>