<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>JetSetGo</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h2>Welcome to JetSetGo!</h2>

<h2><a href="destinations.html">Destinations</a></h2>

<img th:class="logo" src="../static/img/ATV.jpg" alt="Atv" height="700" width="850">

<section>
<h3>Where we help you achieve budget-friendly adventure</h3>

</section>

<footer>
    <p th:class="light-text">JetSetGo Industries</p>
</footer>

</body>
</html>